.About { 
  
    display: flex;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;

    height: 68vh;
}
.Para {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 10vh;
    z-index: 5;

}