.Home {
     display: flex;
     justify-content: center;
    padding: 19px;
}
.Home-intro {
    display: flex;
    font-size: calc(20px );
    margin: 50px 50px 230px 0px;
   
}
.Name{
    display: flex;
    font-size: calc(20px );
    
}
.Welcome {
    display: flex;
    font-size: calc(20px );
    
}
.Profile-border{
    display: flex;
    box-shadow: 0 5px 0px 0px var(--white);
    border-radius: 50%;
    height: 100px;

}
.Home-pic {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 300px;
    border-radius: 50%;
    background-image: url("../images/Profile Image.jpg");
    background-size: 300px;
}